%p= t('mail.created.greeting', name: @ticket.user_name)

%p= t('mail.replied.general_info_html', name: @ticket.assignee.name, reply: @ticket.reply)

%p= link_to ticket_url(@ticket), ticket_url(@ticket)

%p= t('mail.created.bye_html')
